.footer {
    background-color: var(--color-brown);
    padding: 67px 0;
    > div {
        display: flex;
        justify-content: space-between;
        ul {
            display: flex;
            flex-direction: column;
            gap: 15px;
            &:first-of-type {
                transform: translateY(-5%);
            }
            a {
                img {
                    width: 100%;
                }
            }
            h3 {
                margin-bottom: 15px;
                text-transform: uppercase;
            }
            li {
                a {
                    color: rgba(255, 255, 255, 0.75);
                    font-size: var(--fs-small);
                }
            }
        }
        h3 {
            color: var(--color-white);
        }

    }
}